/* =========================
calendar-page.scss
========================= */

:host {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px) !important;
    box-sizing: border-box;
    overflow: hidden;

    ::ng-deep {
        app-calendar-component {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-height: 0;
        }

        .fc {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            height: 100% !important;

            .fc-view-harness {
                flex-grow: 1;
                height: 100% !important;
            }

            .fc-button {
                color: var(--elements-text-color);
                border: 1px solid var(--color-primary) !important;
                background-color: rgba(0 0 0 / 0);

                &:hover {
                    color: #fff;
                    background-color: var(--color-primary);
                    text-shadow: none;
                }

                &:focus {
                    box-shadow: none !important;
                }
            }

            .fc-button-active {
                background: var(--color-primary) !important;
                border-color: var(--color-primary) !important;
            }

            .fc-col-header-cell-cushion {
                color: var(--mat-sys-on-surface-variant);
                font-weight: 500;
            }

            .fc-daygrid-day-number {
                color: var(--mat-sys-on-surface-variant) !important;
                font-weight: 500;
            }

            .fc-event {

                .fc-event-title,
                .fc-event-time {
                    color: var(--mat-sys-on-surface-variant) !important;
                    font-weight: 500;
                }
            }

            .fc-day-today {
                background-color: color-mix(in srgb, var(--color-primary), transparent 65%) !important;
            }

            .fc-highlight {
                background-color: color-mix(in srgb, var(--color-primary), transparent 85%) !important;
            }

            .fc-daygrid-event-dot,
            .fc-event-dot {
                border-color: var(--color-primary) !important;
            }

            .fc-timegrid-event {
                background-color: var(--color-primary) !important;
            }

            .fc-list-day {
                th {
                    background-color: color-mix(in srgb, var(--color-primary), transparent 85%) !important;

                    .fc-list-day-cushion,
                    .fc-list-day-text,
                    .fc-list-day-side-text {
                        color: var(--mat-sys-on-surface-variant) !important;
                        font-weight: 500;
                    }
                }
            }

            .fc-list-event {
                .fc-list-event-dot {
                    border-color: var(--color-primary) !important;
                }
            }

            @media (width <=600px) {
                .fc-toolbar {
                    flex-direction: column;
                    gap: 10px;

                    .fc-toolbar-chunk {
                        display: flex;
                        justify-content: center;
                    }
                }

                .fc-toolbar-title {
                    font-size: 1.2rem;
                }

                .fc-button {
                    padding: 4px 8px !important;
                    font-size: 0.85rem !important;
                }
            }
        }
    }
}