/* =========================
calendar-page.scss
========================= */

:host {
    display: block;
    padding: 20px;

    ::ng-deep {

        .fc {

            .fc-button {
                color: var(--elements-text-color);
                border-color: var(--color-primary);
                background-color: rgba(0 0 0 / 0);

                &:hover {
                    color: #fff;
                    background-color: var(--color-primary);
                    border: inherit;
                    text-shadow: none;
                }

                &:focus {
                    box-shadow: none !important;
                }
            }

            .fc-button-active {
                background: var(--color-primary) !important;
                border-color: var(--color-primary) !important;
            }
        }
    }
}