/* =========================
calendar-page.scss
========================= */

:host {
    display: block;
    padding: 20px;

    ::ng-deep {

        .fc {
            .fc-button {
                color: var(--elements-text-color);
                border: 1px solid var(--color-primary) !important;
                background-color: rgba(0 0 0 / 0);

                &:hover {
                    color: #fff;
                    background-color: var(--color-primary);
                    text-shadow: none;
                }

                &:focus {
                    box-shadow: none !important;
                }
            }

            .fc-button-active {
                background: var(--color-primary) !important;
                border-color: var(--color-primary) !important;
            }

            .fc-col-header-cell-cushion {
                color: var(--mat-sys-on-surface-variant);
                font-weight: 500;
            }

            .fc-daygrid-day-number {
                color: var(--mat-sys-on-surface-variant) !important;
                font-weight: 500;
            }

            .fc-event {

                .fc-event-title,
                .fc-event-time {
                    color: var(--mat-sys-on-surface-variant) !important;
                    font-weight: 500;
                }
            }

            .fc-day-today {
                background-color: color-mix(in srgb, var(--color-primary), transparent 65%) !important;
            }

            .fc-highlight {
                background-color: color-mix(in srgb, var(--color-primary), transparent 85%) !important;
                ;
            }

            .fc-daygrid-event-dot,
            .fc-event-dot {
                border-color: var(--color-primary) !important;
            }

            .fc-timegrid-event {
                background-color: var(--color-primary) !important;
            }
        }
    }
}