<!-- ========================
dashboard-page.html
========================= -->

<h1>Dashboard</h1>
<div class="grid-container">
    @if (chartService.newCustomersChartData(); as data) {
    <app-line-chart-component
        class="dashboard__chart item-large" [data]="data">
    </app-line-chart-component>
    }
    <!-- @if (chartService.transactions(); as data) {
            <app-dragable-table-component class="dashboard__chart item-small" [data]="data" [columns]="transactionColumns"
            entity="transactions" idKey="txId" [cellFormatter]="transactionCellFormatter" [autoScroll]="true" autoScrollTarget="self"
            [autoScrollEdgePx]="40" [autoScrollMaxStep]="18" />
        } -->
    @if (transactions(); as data) {
    <app-dragable-table-component-2
        class="dashboard__chart item-small" [data]="data"
        [displayedColumns]="transactionColumns"
        entity="transactions" idKey="txId"
        (reorder)="onTransactionsReorder($event)" />
    }
    @if (chartService.projectsChartData(); as data) {
    <app-ring-chart-component
        class="dashboard__chart item-small" [data]="data">
    </app-ring-chart-component>
    }
    @if (chartService.salesChartData(); as data) {
    <app-bar-chart-component
        class="dashboard__chart item-small" [data]="data">
    </app-bar-chart-component>
    }
</div>