<!-- dashboard-page.html -->

<h1>Dashboard</h1>
<div class="grid-container">
    @if (chartService.newCustomersChartData(); as data) {
    <app-line-chart-component class="dashboard__chart item-large" [data]="data">
    </app-line-chart-component>
    }
    @if (chartService.projectsChartData(); as data) {
    <app-ring-chart-component class="dashboard__chart item-small" [data]="data">
    </app-ring-chart-component>
    }
    @if (chartService.salesChartData(); as data) {
    <app-bar-chart-component class="dashboard__chart item-small" [data]="data">
    </app-bar-chart-component>
    }
</div>