/* =========================
word-map-page.scss
========================= */

app-world-map-component {
    display: flex;
    flex-direction: column;
    height: 100%;
}

::ng-deep {
    .chart__root {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}