// _mixins.scss

@use 'variables' as var;

@mixin mat-theme-transition() {
  transition: background-color var.$mat-duration var.$mat-easing, color var.$mat-duration var.$mat-easing;
}

@mixin standard-chart-pages-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-chart {
    display: block;
    flex-grow: 1;
    min-height: 0;
  }

  ::ng-deep {

    .page-chart {
      .card__root {
        height: 100%;
        width: 100%;
      }

      canvas {
        display: block;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}