mat-nav-list {
  padding-top: 7px;
}

a {
  margin-bottom: 12px;

  mat-icon, img {
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

a:first-child {
  margin-bottom: 7px;
}

mat-divider {
  margin: 0 -16px 12px -16px;
  border-top-color: var(--nav-divider-color);
}

a:last-child {
  margin-bottom: 0;
}

.mdc-list {
    padding: 8px 16px;
}

.mdc-list-item:focus::before {
    background: rgba(0 0 0 / 0);
}