// custom-sidenav.scss
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  // border-bottom: 1px solid #4b545c;
  padding: 16px 0 14px 0;

  img {
    width: 33px;
  }
}

mat-nav-list {
  border-top: 1px solid #4b545c;
}

a {
  margin-bottom: 12px;

  mat-icon {
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

a:last-child {
  margin-bottom: 0;
}

.mdc-list {
    padding: 8px 16px;
}

.mdc-list-item:focus::before {
    background: rgba(0 0 0 / 0);
}