<!-- custom-sidenav.html -->
<mat-nav-list>
  @for (item of menuItems(); track item.route; let isFirst = $first) {
  <a
    mat-list-item
    [routerLink]="item.route"
    routerLinkActive=""
    [routerLinkActiveOptions]="{ exact: item.route === '/' }"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    (click)="collapsed.set(true)"
  >
    @if (item.image) {
    <img
      matListItemIcon
      [src]="item.image"
      [style.marginLeft]="iconMargin()"
      class="nav-custom-icon"
      alt="item.label"
    />
    } @else {
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      [style.marginLeft]="iconMargin()"
    >
      {{ item.icon }}
    </mat-icon>
    }

    <span matListItemTitle>{{ item.label }}</span>
  </a>
  @if (isFirst) {
  <mat-divider></mat-divider>
  } }
</mat-nav-list>
