// custom-sidenav.scss
// .logo {
//   display: flex;
//   align-items: center;
//   padding-bottom: 12px;
//   padding: 16px 16px 15px 12px;
//   overflow: hidden;

//   img {
//     width: 32px;
//     margin-left: 12px;
//     margin-right: 11px;
//     transition: margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
//   }

//   span {
//     white-space: nowrap;
//   }
// }

a {
  margin-bottom: 12px;

  mat-icon, img {
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

mat-divider {
  margin: 8px -16px;
  border-top-color: #454d55;
}

a:last-child {
  margin-bottom: 0;
}

.mdc-list {
    padding: 8px 16px;
}

.mdc-list-item:focus::before {
    background: rgba(0 0 0 / 0);
}