// app.scss
@use "../styles/mixins" as custom-mixins;

mat-toolbar {
  @include custom-mixins.mat-theme-transition();
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

mat-sidenav-container {
  @include custom-mixins.mat-theme-transition();
  background-color: #ffffff;
  height: 100vh;
  height: 100dvh;

  @media (width < 600px) {
    height: 100vh;
    height: 100dvh;
  }

  mat-sidenav {
    border-top-right-radius: 0;
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  mat-sidenav-content {
    box-sizing: border-box;
  }
}

.android__height {
  height: calc(100vh - 112px);
}

.iphone__height {
  height: calc(100vh - 164px);
}
