// app.scss
@use "../styles/mixins" as custom-mixins;

mat-toolbar {
  @include custom-mixins.mat-theme-transition();
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grid-color);
  --mat-toolbar-mobile-height: 64px;
}

mat-sidenav-container {
  @include custom-mixins.mat-theme-transition();
  background-color: var(--bg-color);
  height: 100vh;
  height: 100dvh;

  mat-sidenav {
    --mat-sidenav-container-shape: 0;
    border-right: 1px solid var(--grid-color);
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  mat-sidenav-content {
    box-sizing: border-box;

    .sidenav__overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: light-dark(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.32));
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      backdrop-filter: blur(3px);
      transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
        backdrop-filter 400ms cubic-bezier(0.4, 0, 0.2, 1);

      @media (width >= 600px) {
        display: none !important;
      }

      &.active {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 300ms cubic-bezier(0.05, 0.7, 0.1, 1),
          backdrop-filter 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
      }
    }
  }
}

.android__height {
  height: calc(100vh - 112px);
}

.iphone__height {
  height: calc(100vh - 164px);
}
