// app.scss
@use "../styles/mixins" as custom-mixins;

mat-sidenav-container {
  @include custom-mixins.mat-theme-transition();
  background-color: var(--bg-color);
  height: 100vh;
  height: 100dvh;

  mat-sidenav {
    --mat-sidenav-container-shape: 0;
    border-right: 1px solid var(--grid-color);
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

    overflow: visible !important;

    ::ng-deep .mat-drawer-inner-container {
      overflow: visible !important;
    }

    &.expanded {
      border-right-color: transparent;
    }
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidenav__overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: light-dark(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.32));
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      backdrop-filter: blur(1px);
      transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
        backdrop-filter 400ms cubic-bezier(0.4, 0, 0.2, 1);

      &.active {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 300ms cubic-bezier(0.05, 0.7, 0.1, 1),
          backdrop-filter 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
      }
    }

    mat-toolbar {
      @include custom-mixins.mat-theme-transition();
      display: flex;
      justify-content: space-between;
      flex: 0 0 auto;
      border-bottom: 1px solid var(--grid-color);
      --mat-toolbar-mobile-height: 64px;
    }

    main {
      flex: 1 1 auto;
      overflow: auto;
      padding: 16px;
      box-sizing: border-box;
    }
  }
}

.android__height {
  height: calc(100vh - 112px);
}

.iphone__height {
  height: calc(100vh - 164px);
}