<!-- ========================
dragable-table-component-2.html
========================= -->

<div class="chart__root table-container-wrapper">
    <div class="table-scroll" cdkScrollable cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="drop($event)">
        <mat-table #table [dataSource]="dataSource"
            class="mat-elevation-z8">

            @for (col of displayedColumns; track col) {
            <ng-container [matColumnDef]="col">
                <mat-header-cell *matHeaderCellDef>{{ col
                    }}</mat-header-cell>

                <mat-cell *matCellDef="let row">
                    @if (col === displayedColumns[0]) {
                    <mat-icon
                        class="example-drag-cursor">reorder</mat-icon>
                    }
                    <span>{{ row[col] }}</span>
                </mat-cell>
            </ng-container>
            }

            <mat-header-row
                *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row
                *matRowDef="let row; columns: displayedColumns;"
                cdkDrag [cdkDragData]="row"></mat-row>

        </mat-table>
    </div>
</div>