/* =========================
dragable-table-component-2.scss
========================= */

:host {
    display: block;
    height: 100%;
}

.table-container-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
}

.table-scroll {
    flex: 1;
    overflow: auto !important;
}

table {
    width: 100%;
}

.example-drag-cursor {
    margin-right: 16px;
    cursor: move;
    color: var(--color-primary);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--mat-sys-surface);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}