/* =========================
dragable-table-component-2.scss
========================= */

:host {
    display: block;
    height: 100%;
}

.table-container-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
}

.table-scroll {
    flex: 1;
    overflow: auto !important;
}

table {
    width: 100%;
}

.example-drag-cursor {
    margin-right: 16px;
    cursor: move;
    color: var(--color-primary);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: light-dark(#ffffff, #24292e);
    box-shadow: 0 8px 16px light-dark(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.15)),
        0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.is-number {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
}