<!-- ========================
weather-widget.html
========================= -->

<div class="card__root weather-widget">
    <div class="weather-row-1">
        <span>{{ state().time | date:'HH:mm'
            }}</span>
        <div class="weather-container"
            [class.weather-container--loading]="state().loading">
            <span class="weather-icon"
                [class.weather-icon--mobile]="isMobile()">
                {{ state().weatherIcon }}
            </span>
            <span class="weather-temp">{{
                formattedTemperature() }}</span>
        </div>
    </div>
    <div class="weather-row-2">
        <span class="weather-widget__row2">{{
            state().locationLabel }}</span>
    </div>

    @if (state().error) {
    <span>
        {{ state().error }}
    </span>
    }
</div>