/* =========================
weather-widget.scss
========================= */

.weather-widget {
    display: flex;
    justify-content: space-between;
}

.weather-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 34px;
    margin-top: -2px;
}

.weather-container {
    display: flex;
    align-items: flex-start;
}

.weather-icon {
    margin-top: -6px;
}

.weather-row-2 {
    display: flex;
    justify-content: center;
}