<!-- ========================
weather-widget.html
========================= -->

<div class="card__root weather-widget"
    [class.loading]="state().loading">
    <div class="date-time">
        <span>{{ state().time | date:'HH:mm'
            }}</span>
        <span>{{ state().time | date:'EEEE,
            dd.MM.yyyy' }}</span>
    </div>
    <div class="weather-widget__icon" aria-hidden="true">
        {{ state().weatherIcon }}
    </div>

    <div class="weather-widget__temp">{{
        formattedTemperature() }}</div>



    @if (state().error) {
    <p class="weather-widget__error">
        {{ state().error }}
    </p>
    }
</div>