// transactions-page.scss

@use "../../../styles/mixins" as m;

app-dragable-table-component {
  display: flex;
  max-height: calc(100vh - 64px - 63px - 16px);
  overflow: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
}

::ng-deep {
  .dashboard__chart {

    .chart__root {
      flex: 1;
    }
  }
}