// transactions-page.scss

@use "../../../styles/mixins" as m;

app-dragable-table-component {
  display: flex;
  height: 600px;
  margin-left: -16px;
  margin-right: -16px;
}

::ng-deep {
  .dashboard__chart {

    .chart__root {
      flex: 1;
    }
  }
}