// transactions-page.scss

app-dragable-table-component {
    height: calc(100% - 63px + 16px);
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
}

::ng-deep {
    app-dragable-table-component {
        .table-scroll {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;

            .mat-mdc-table {
                background-color: rgba($color: #000, $alpha: 0);
            }
        }
    }
}