// transactions-page.scss

@use "../../../styles/mixins" as m;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    flex: 0 0 auto;
  }

  app-dragable-table-component {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 15px;
    min-height: 0;
  }
}