<!-- dragable-table-component.html -->

<div #scrollContainer class="table-scroll" cdkDropList [cdkDropListData]="dataSource"
  (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="onListEntered()" (cdkDropListExited)="onListExited()"
  [class.drag-outside]="dragOutside">

  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (col of displayedColumns; track col) {
    <ng-container [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>
        {{ formatHeader(col) }}
      </mat-header-cell>

      <mat-cell *matCellDef="let row">
        @if (col === displayedColumns[0]) {
        <span class="drag-handle" cdkDragHandle>
          <mat-icon class="reorder-icon">reorder</mat-icon>
        </span>
        }
        {{ formatCell(col, row[col], row) }}
      </mat-cell>
    </ng-container>
    }

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
      [cdkDragStartDelay]="{ touch: 200, mouse: 0 }" (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
      <ng-template cdkDragPlaceholder>
        <div class="row-placeholder" [class.hidden]="dragOutside"></div>
      </ng-template>
    </mat-row>
  </mat-table>
</div>