/* =========================
dragable-table-component.scss
========================= */

:host ::ng-deep mat-header-row mat-header-cell:first-child,
mat-row mat-cell:first-child {
    min-width: 143px;
}

.chart__root {
    padding: 0 !important;
}

.table-scroll {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    touch-action: pan-y;

    &.drag-outside {
        opacity: 0.95;

        .cdk-drag-placeholder,
        .row-placeholder {
            height: 0 !important;
            min-height: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
        }
    }
}

.drag-handle {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    cursor: grab;
    touch-action: none;

    &:active {
        cursor: grabbing;
    }
}

.reorder-icon {
    margin-right: 16px;
}

.example-drag-cursor {
    cursor: move;
}

mat-row {
    background-color: rgba($color: #000000, $alpha: 0);
}

.cdk-drag-preview {
     background-color: light-dark(#ffffff, #1f2328);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag.cdk-drag-dragging {
    opacity: 0 !important;
}

.row-placeholder {
    height: 48px;
}

.row-placeholder.hidden {
    height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}