<!-- dragable-table-component.html -->

<div #scrollContainer class="table-scroll" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="drop($event)">
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (col of displayedColumns; track col) {
    <ng-container [matColumnDef]="col"  class="example-drag-cursor">
      <mat-header-cell *matHeaderCellDef>
        {{ formatHeader(col) }}
      </mat-header-cell>

      <mat-cell *matCellDef="let row"  class="example-drag-cursor">
        @if (col === displayedColumns[0]) {
        <mat-icon class="reorder-icon">reorder</mat-icon>
        }
        {{ formatCell(col, row[col], row) }}
      </mat-cell>
    </ng-container>
    }

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
      (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()"></mat-row>
  </mat-table>
</div>