// style.scss
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.darkMode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.lightMode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  --bg-color: light-dark(#F8F9FA, #343a40);
  --mat-sidenav-container-background-color: var(--bg-color);
  --mat-toolbar-container-background-color: var(--bg-color);
  --grid-color: light-dark(#b4b6bb, #62656d);
}

h1 {
  margin-top: 4px;
}

h1,
h2 {
  font-weight: 500;
}

a {
  color: light-dark(#0000ee, #8ab4f8);

  &:active {
    color: light-dark(#ff0000, #ff6b6b);
  }

  &:visited {
    color: light-dark(#551a8b, #c58af9);
  }
}
